@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.500);
    width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.form {
    display: flex;
    margin-bottom: 20px;
}

#taskinput {
    flex: 1;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.500);
    border-radius: 4px;
}

#addtaskbtn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list li {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list li.done span {
    text-decoration: line-through;
    color: #888;
}

#list li .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#list li .delete-btn:hover {
    background-color: #d32f2f;
}